<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>969121728211-cljikd6msob4odbqnrp2rei3hun39ujc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.969121728211-cljikd6msob4odbqnrp2rei3hun39ujc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>969121728211-j3tnj8i2qhiprn2co2tlqfnh3menf570.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC135nxUIcdI4vbyuFevU5bsqXfY7qMDmU</string>
	<key>GCM_SENDER_ID</key>
	<string>969121728211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jvak</string>
	<key>PROJECT_ID</key>
	<string>jvak-cc511</string>
	<key>STORAGE_BUCKET</key>
	<string>jvak-cc511.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969121728211:ios:06cd3df2e571763023b626</string>
	<key>DATABASE_URL</key>
	<string>https://jvak-cc511.firebaseio.com</string>
</dict>
</plist>